<table border="1">
    <tr>
        <td>아이디</td>
        <td>이름</td>
        <td>나이</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userAge}"></td>
    </tr>
</table>
<span th:each="num : ${#numbers.sequence(1, 10)}">
    [[${num}]]
</span>

<!-- emp 테이블 데이터 조회하기 -->
<!-- empno와 ename을 HTML의 Table로 출력하기 - th:each 반복문 사용 -->
<table border="1">
    <tr>
        <td>사원번호</td>
        <td>이름</td>
        <td>부서</td>
    </tr>
    <tr th:each="emp : ${empList}">
        <td th:text="${emp.empno}"></td>
        <td th:text="${emp.ename}"></td>

        <!-- 근무 부서 출력 -->
        <!-- SQL로 처리한다면 join, sub-query 등을 사용해서 처리해야함 -->
        <!-- ORM의 장점 : 바로 만들어낼 수 있음 -->
        <!-- Emp엔티티에 연관관계를 맺고있는 변수 : dept -->
        <!-- dept 안에는 dname이라는 변수가 있음 -->
        <td th:text="${emp.dept.dname}"></td>
    </tr>
</table>
